
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-image:url("../controllers/images/smarthome-background.jpg");
}

table {
    color: #191919;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	border:2px solid black;
	border-spacing:1px ;
	background: #f5f5f5;
	/*border-collapse: collapse;*/
	font-size: 14px;
	line-height: 1.5;
	margin: 20px auto;
	text-align: center;
	width:96%;
   
}

.website-logo {
	position:absolute;
	display:inline;
	margin-top:5px; 
	margin-left:10px;
}

.user-settings{
	position:absolute;
    display:inline;
	float: right;
	margin-top:7px; 
	right:20px;; 
}

.emergancy-message {
	//border-top: 1px solid black; 
	//border-bottom: 1px solid black; 
	border-left: 2px solid black; 
	border-right: 2px solid black; 
	z-index: 1000;
	display:inline; 
	position: absolute;
	width:380px;
	background-color:#FF8C8C;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	top: 0;
	left: 0; 
	right: 0;
	bottom: 0; 
	margin: auto; 
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:3 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}
.dialog_wrapper {
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 5;
    display: block;
}
.dialog {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.radius{
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

.allcontainer {
    background-color: #e9ecf3;
    /*min-width: 1019px;*/
}

#page-header {
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0px;
    margin: 0;
    border: 0px;
    box-shadow: none;
    height: 92px;
    filter: none;
    background: #fff;
	border-top: 1px solid #808080; 
	border-bottom: 4px solid black; 
    z-index: 15;
    -webkit-box-shadow: 0 4px 2px -2px rgba(224,217,224,0.50);
    -moz-box-shadow: 0 4px 2px -2px rgba(224,217,224,0.50);
    box-shadow: 0 4px 2px -2px rgba(224,217,224,0.50);

}

.icon-sub-btn-1{
	background-position:3px;
	background-image: url(images/icon-btn-sub.jpg);
	background-repeat:no-repeat;
	line-height:16px;
	padding-left: 15px;
}
.icon-sub-btn-2{
	background-image: url(/images/icon-btn-sub-1.jpg);
	background-repeat:no-repeat;
	line-height:13px;
	padding-left: 13px;
}

#page-container {
    position: relative;
    margin-top: 120px;
}

.menu {
    
    width: 150px;
    //min-width: 120px;
    position: fixed;
    top: 90px;
    //left: 15%;
	right:75.5%;
    z-index: 2;
}

.ui-menu {
    margin: 0;
    padding: 30px 0 10px 0;
}

.first-child {
    height: 15px;
    background-color: #fff;
    width: 100%;
    margin-left: 3px;
    list-style: none;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
}

.li-menu {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 3%;
    color: #696e6e;
    display: inline-block;
    width: 90%;
    line-height: 2;
    background-color: #fff;
    border-left: 3px solid #e9ecf3;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
}

.li-menu:hover {
        font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 7%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

    color: #45c2c4;
    display: inline-block;
    background-color: #f2f6f9;
    border-left: 3px solid #45c2c4;
    width: 90%;
    line-height: 2;
    }
	.open {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 3%;
    color: #45c2c4;
    display: inline-block;
    background-color: #f2f6f9;
    border-left: 3px solid #45c2c4;
    width: 90%;
    line-height: 2;
}

	.li-menu-admin {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 3%;
    color: white;
    display: inline-block;
    width: 90%;
    line-height: 2;
    background-color: #808080;
    border-left: 3px solid #e9ecf3;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
	}

.open-admin{
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 3%;
    color: black;
    display: inline-block;
    background-color:  #808080;
    border-left: 3px solid black;
    width: 90%;
    line-height: 2;
}

	.li-menu-admin:hover {
        font-family: "Open Sans", sans-serif,Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 0 10px 7%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

    color: black;
    display: inline-block;
    background-color: #808080;
    border-left: 3px solid black;
    width: 90%;
    line-height: 2;
    }

.right-div {
	border-radius :15px;
    float: left;
    width: 50%;
	min-width: 650px;
    margin-left: 25%;
    background: #fff;
	margin-bottom: 0.75cm;
}

.personal-hoder {
    background-color: #fff;
    padding-top: 0;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.table-hoder {
    background-color: #fff;
    padding-bottom: 10px;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.personal-bg {
    background-color: #fff;
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 2%;
    color: #45c2c4;
    line-height: 1.2;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.personal-bg-table {
    background-color: #fff;
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 23px;
    font-weight: 600;
    padding: 15px 2%;
    color: black;
    line-height: 1.2;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 2px #888888;    
}


.personal-div {
    padding: 20px 0 0 2%;
}

.span-personal {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #191919;
    float: left;
    width: 100px;
    padding-top: 3px;
}

.span-personal-result {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #444c53;
    float: left;
    padding-top: 3px;
}

.span-personal-Aresult {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: #444c53;
    float: left;
    padding-top: 3px;
    direction: rtl;
}

.leftDiv {
    float: left;
    margin-left: 20px;
}

.term-list {
    width: 200px;
    font-family: Arial;
    font-size: 14px;
    color: #808080;
    border-color: #45c2c4;
    height: 20px;
    padding-left: 5px;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.URLInput {
    width: 350px;
    font-family: Arial;
    font-size: 14px;
    color: #808080;
    border-color: #45c2c4;
    height: 20px;
    padding-left: 5px;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Description {
    resize: none;
    width: 350px;
    height: 100px;
    font-family: Arial;
    font-size: 14px;
    color: #808080;
    border-color: #45c2c4;
    padding-left: 5px;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button {
	margin-top:4px;
	margin-bottom:3px;
    width: 70px;
    height: 27px;
    border-color: #666666;
    background-color: #D9D9D9;
    color: #000000;
    font-family: "Open Sans", sans-serif,Arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button:hover {
	margin-top:4px;
	margin-bottom:3px;
    width: 70px;
    height: 27px;
    border-color: #000000;
    background-color: #B2B2B2;
    color: #000000;
    font-family: "Open Sans", sans-serif,Arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.searchImg {
    float: left;
    margin: 5px 0 0 5px;
}

.bigFont {
    font-family: Arial;
    font-size: 20pt;
    font-weight: 500;
    line-height: 1.8;
    color: #e49a19;
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}

.copy-right {
    bottom: 0;
    text-align: center;
    color: #818181;
    font-family: Arial;
    font-size: 11px;
    display: inline-block;
    margin-top: 30%;
}

.welcom-name {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #bebebe;
    float: left;
    margin-left: 90px;
    margin-top: 60px;
}

.logout {
    color: #e73701;
    text-decoration: none;
    cursor: pointer;
}

    .logout:hover {
        color: #e73701;
        text-decoration: underline;
        cursor: pointer;
    }

.border {
    border: none;
}

.hr-personal {
    width: 100%;
    height: 2px;
    background-color: #45c2c4;
    border: none;
    float: left;
}

.hr-table {
    width: 100%;
    height: 2px;
    background-color: Black;
    border: none;
    float: left;
}


.hr-table-hidden-div {
    width: 100%;
    height: 2px;
    background-color: Black;
    border: none;
    float: left;
	margin:0px;
}

.hr-table-divider {
    width: 96%;
    height: 2px;
    background-color: Black;
    border: none;
}

.hr-table-divider2 {
    width: 90%;
    height: 1px;
    background-color: Black;
    border: none;
}

.spanNmae {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 18px;
    font-weight: 500;
    color: #45c2c4;
    line-height: 1.2;
}

.date {
    font-family: "Open Sans", sans-serif,Arial;
    font-size: 12px;
    font-weight: 500;
    color: #c6c6c6;
    line-height: 1.2;
    float: right;
    margin-right: 15px;
}

.table {
    background-color: #fff;
    border: hidden;
}
.searchStyle{
    float:right;
    padding:20px;
}
.personal-hoder-main{
    float:left;
    margin-left:40px;
    margin-bottom: 40px;
    background-color:#fff; 
     padding-top:0;
     -webkit-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
-moz-box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
box-shadow: 1px 3px 1px 0px rgba(224,217,224,0.67);
     -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px; 
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.priButton{
    vertical-align:middle; 
    padding-left:20px; 
    display:block;
}



strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}	

th {
	background: url(images/noise-diagonal.png), linear-gradient(#b0b0b0, #949494);
	border-left: 1px solid #787878;
	border-right: 1px solid #787878;
	border-top: 1px solid #787878;
	border-bottom: 1px solid #787878;
	height: 30px;
	color: white;
	text-shadow: 0 0 5px black;
	font-weight: 700;
	padding: 0px;
	position: relative;
}

td {
	border: 1px solid #d4d4d4;

	padding: 4px 2px;
	position: relative;
	transition: all 300ms;
}

	

tr {
	background: url(images/noise-diagonal.png);	
}

 tr:nth-child(even){
	background: #f1f1f1 url(images/noise-diagonal.png);	
}


.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
	margin-left:40px; 
	margin-top:-20px; 
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.abc {
	margin-left:0.5%; 
	//margin-right:auto; 
	margin-top:3px; 
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: relative;
    z-index: 2;
}

.right-div-secondary-title {
		margin-left:auto; 
		margin-right:auto; 
		margin-top:-26px; 
		margin-bottom:20px; 
		padding-left:13px; 
		padding-right:13px; 
		padding-top:8px; 
		padding-bottom:2px; 
		font-size:19; 
		font-family:"Open Sans",sans-serif,Arial; 
		background-color:#CCCCCC;
		border-top-left-radius:-10px;
		border-top-right-radius:-10px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
}

.hidden-right-div-secondary-title {
		display:inline;
		position:absolute;
		left:0; 
		right:0; 
		margin:auto;
		margin-top:-69px; 
		padding-left:13px; 
		padding-right:13px; 
		padding-top:2px; 
		padding-bottom:1px;
		font-size:19; 
		font-family:"Open Sans",sans-serif,Arial; 
		background-color:#CCCCCC;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		border-bottom-left-radius:-10px;
		border-bottom-right-radius:-10px;
}




.dim {	
	display:none;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:120;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}

.dialog {
	display:none;
	position:fixed; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	z-index:121;
	border:3;
}



.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*
.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;                    
    }
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
*/

/*
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
*/